#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.listBody {
  width: 25vw;
  height: 80vh;
  border: 1px solid white;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: top;

  overflow-y: scroll;

  ul {
    list-style-type: none;
  }
}

.listItem {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;

  .pinned {
    /* same for now, can change later */
    color: light-dark(rgb(200, 10, 10), rgb(200, 10, 10));
  }
}
